#header #header-content .logo {
  background: url('logo.png') no-repeat center center;
}

.print .logo {
  width: 140px;
  height: 90px;
  position: absolute;
  top: 14px;
  left: 0;
  background: url('logo.png') no-repeat center center;
}
