/* FONT FAMILIES */

basic-fonts = Helvetica, Arial, Sans-Serif


/* COLORS */

color-1-dark = #dcdcdc
color-1-light = #f0f0f0
color-2-dark = #f0f0f0
color-2-light = #ffffff


/* FUNCTIONS */

gradient(color-1, color-2)
  background-color color-1
  background-image linear-gradient(bottom, color-2 0%, color-1 100%)
  background-image -o-linear-gradient(bottom, color-2 0%, color-1 100%)
  background-image -moz-linear-gradient(bottom, color-2 0%, color-1 100%)
  background-image -webkit-linear-gradient(bottom, color-2 0%, color-1 100%)
  background-image -ms-linear-gradient(bottom, color-2 0%, color-1 100%)
  background-image -webkit-gradient(linear, left bottom, left top, color-stop(0.0, color-2), color-stop(1.0, color-1))

box-shadows(x,y,w,c)
  -moz-box-shadow x y w c
  -webkit-box-shadow x y w c
  -o-box-shadow x y w c
  -ms-box-shadow x y w c
  box-shadow x y w c

box-shadows-inset(x,y,w,c)
  -moz-box-shadow inset x y w c
  -webkit-box-shadow inset x y w c
  -o-box-shadow inset x y w c
  -ms-box-shadow inset x y w c
  box-shadow inset x y w c


/* FORM ELEMENT STYLES */

input.field
  width 148px
  height 24px
  border 1px solid #cacaca
  box-shadows-inset 0 3px 5px #f3f3f3
  padding 0 6px
  margin-right 8px

label.field-label
  font-size 13px
  text-shadow 0 1px 0 #FFF


/* LAYOUT COMPONENT STYLES */

#content-wrap
  width 100%
  min-height 100%
  position relative

#header, #navi, #content, #footer, #sidebar
  font-family basic-fonts
  color #333
  font-size 13px

#header
  width 100%
  height 120px
  background #dadada
  #header-content
    width 960px
    height 120px
    margin 0 auto
    position relative
    .logo
      width 140px
      height 90px
      background #bababa
      position absolute
      top 14px
      left 0
    .headline
      height 36px
      display inline-block
      position absolute
      top 40px
      left 164px
      font-size 36px
      text-shadow 0 1px 0 #FFF
    .login-form
      position absolute
      top 32px
      right 0
      margin auto 0
      label
        display block
        margin 0 0 4px 1px
      input.submit-btn
        margin-left -2px

#navi
  width 100%
  height 40px
  background #eaeaea
  margin-top 1px
  #navi-content
    width 960px
    height 40px
    margin 0 auto
    position relative
    ul.navi-links
      position absolute
      left 0
      li
        float left
        border-left 1px solid #CCC
        border-right 1px solid #CCC
        padding 0
        margin 0 0 0 -1px
        a
          font-size 16px
          padding 10px 20px
          line-height 40px
          color #333
        a.home
          display block
          padding 0
          margin 9px 18px
          width 24px
          height 22px
          background url('../img/navi-home.png') no-repeat
      li:hover
        background #CCC
    form.search
      width 240px
      height 40px
      position absolute
      right 0
      .search-field
        width 100%
        margin-top 7px

#page-content
  width 960px
  margin 0 auto

#sidebar
  width 240px
  height 100px
  position absolute
  right 0
  top 20px

#footer
  width 100%
  height 40px
  background #dadada
  line-height 38px
  text-align center
  text-shadow 0 1px 0 #FFF
  position absolute
  bottom 0


/* CONTENT STYLES */

#page-content
  padding 0 0 30px 0
  position relative

  .breadcrumb
    ul.breadcrumb-list
      width 686px
      height 40px
      padding-left 14px
      line-height 40px
      li
        float left
        a
          font-size 12px
          color #666
          span.arrow
            display inline-block
            margin 0 6px

  .tabs-container
    width 700px
    margin-bottom 40px
    .tabs
      width 140px
      display inline-block
      ul.tabs-list
        li
          width 139px
          height 28px
          border 1px solid #cacaca
          border-right none
          margin-bottom 3px
          gradient(color-1-dark, color-1-light)
          a
            display block
            width 113px
            height 28px
            line-height 28px
            padding 0 13px
            color #505050
        li.active, li:hover
          background none
          position relative
          a
            width 114px
            height 28px
            background #FFF
            position absolute
            top 0
            right -1px
    .tab-content
      width 530px
      padding 12px 14px 0 14px
      border 1px solid #cacaca
      display inline-block
      vertical-align top
      text-shadow 0 1px 0 #FFF
      gradient(color-2-light, color-2-dark)
      p
        line-height 17px
        margin 2px 0 4px 0
      .article
        margin-bottom 30px
        h2
          font-size 18px
          margin 8px 0 6px 0
          a
            color #333
          a:hover
            color #000
          .date
            font-size 12px
            color #999
            margin-left 6px
            font-weight normal
          .edit-icon
            display inline-block
            width 14px
            height 14px
            float right
            background url('../img/edit-icon.png') no-repeat left top
          .edit-icon:hover
            background url('../img/edit-icon.png') no-repeat left bottom
        .comment
          background #dcdcdc
          padding 4px
          line-height 17px
          margin-top 8px
          span.user-avatar
            width 50px
            height 50px
            display inline-block
            margin-right 6px
          p
            width 465px
            display inline-block
            vertical-align top
            margin -2px 0 0 0
            span.user-name
              font-weight bold
              margin-right 6px
            span.date
              color #505050
            span.content
              vertical-align top
      a.show-more-btn
        display block
        gradient(color-2-light, color-2-dark)
        width 126px
        height 23px
        border 1px solid #cacaca
        text-align center
        margin 0 auto -1px auto
        line-height 23px
        color #505050
      a.show-more-btn:hover
        color #333

  .sidebar-content
    a.sidebar-btn
      display block
      gradient(color-2-light, color-2-dark)
      width 210px
      height 28px
      line-height 27px
      color #505050
      border 1px solid #cacaca
      position relative
      padding-left 30px
      margin-bottom 3px
      span.plus-icon
        display inline-block
        width 10px
        height 11px
        background url('../img/plus-icon.png') no-repeat
        position absolute
        top 9px
        left 10px
    a.sidebar-btn:hover
      color #000

    .profile-info
      width 240px
      margin-bottom 20px
      .info-tab
        height 26px
        border-bottom 1px solid #f2f2f2
        margin-bottom -1px
        span.tab-left
          display inline-block
          width 11px
          height 27px
          background url('../img/tab-end-left.png') no-repeat
        span.tab-middle
          display inline-block
          height 27px
          padding 0 6px
          background url('../img/tab-bg.png') repeat-x
          vertical-align top
          line-height 26px
        span.tab-right
          display inline-block
          width 11px
          height 27px
          background url('../img/tab-end-right.png') no-repeat
      .info-content
        background #f2f2f2
        border 1px solid #cacaca
        padding 12px
        text-shadow 0 1px 0 #FFF
        .avatar
          display inline-block
          width 80px
          height 80px
          background #CCC
          margin-right 8px
        p
          width 124px
          display inline-block
          vertical-align top
          line-height 17px
        a.edit-btn
          display inline-block
          width 85px
          height 25px
          background url('../img/edit-btn.png') no-repeat left top
          text-shadow 0 1px 0 #000
          line-height 23px
          text-align center
          color #FFF
          float right
          margin-top -24px
        a.edit-btn:hover
          background url('../img/edit-btn.png') no-repeat left bottom

