div#organs
  .breadcrumb
    ul.breadcrumb-list
      li: a(href='#') Etusivu
        span.arrow ›
      li: a(href='#') Toimielimet
        span.arrow ›
  .tabs-container
    .tabs
      ul.tabs-list
        li.active: a(href='#') Aktiiviset
        li: a(href='#') Paikkahaussa
        li: a(href='#') Lakkautetut
        li.margin: a(href='#') Yliopistotaso
        li: a(href='#') Korkeakoulutaso
        li: a(href='#') Laitostaso
        li: a(href='#') Ryhmätaso
    .tab-content
      form.organ-search
        input.field.wide(type='text', placeholder='Rajaa tuloksia haulla')
      .sort-links
        a.sort-name(href='#') Nimi
          span.arrow-down
        a.sort-date(href='#') Muokattu
          span.arrow-down
      .organ
        h2
          a(href='#') Toimielimen nimi
          a.edit-icon(href='#')
          span.date 23.4.2012
        p.description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed posuere interdum sem. Quisque ligula eros ullamcorper quis, lacinia quis facilisis sed sapien ...
      .organ
        h2
          a(href='#') Toimielimen nimi
          a.edit-icon(href='#')
          span.date 23.4.2012
        p.description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed posuere interdum sem. Quisque ligula eros ullamcorper quis, lacinia quis facilisis sed sapien ...
      .organ
        h2
          a(href='#') Toimielimen nimi
          a.edit-icon(href='#')
          span.date 23.4.2012
        p.description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed posuere interdum sem. Quisque ligula eros ullamcorper quis, lacinia quis facilisis sed sapien ...
      .organ
        h2
          a(href='#') Toimielimen nimi
          a.edit-icon(href='#')
          span.date 23.4.2012
        p.description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed posuere interdum sem. Quisque ligula eros ullamcorper quis, lacinia quis facilisis sed sapien ...
      .organ
        h2
          a(href='#') Toimielimen nimi
          a.edit-icon(href='#')
          span.date 23.4.2012
        p.description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed posuere interdum sem. Quisque ligula eros ullamcorper quis, lacinia quis facilisis sed sapien ...
      .organ
        h2
          a(href='#') Toimielimen nimi
          a.edit-icon(href='#')
          span.date 23.4.2012
        p.description Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed posuere interdum sem. Quisque ligula eros ullamcorper quis, lacinia quis facilisis sed sapien ...

      a.show-more.btn(href='#') Näytä lisää
