div#sidebar
  .sidebar-content
    .profile-info
      .info-tab
        span.tab-left
        span.tab-middle Omat tiedot
        span.tab-right
      .info-content
        div.avatar
        p
          span.name Eija Zitting
          br
          span.email eija.zitting@ayy.fi
          br
          span.phone +358 40 123 1234
        a.edit-btn(href='#') Muokkaa
        div.clear

    a.sidebar-btn.create-new-organ(href='#') Luo uusi toimielin
      span.plus-icon
    a.sidebar-btn(href='#') Kirjoita uusi tiedote
      span.plus-icon
    a.sidebar-btn(href='#') Lähetä ryhmäviesti
      span.plus-icon
