#header
  #header-content
    .logo
      background url("../logo.png") no-repeat center center
      background-size: 50px 50px


/* Note: images to pdfs must be added in the slim files, not in this file. */
.print
  .logo
    width 100px
    height 100px
