/* FONT FAMILIES */
/* COLORS */
/* FUNCTIONS */
/* TEXT STYLES */
h2 {
  font-size: 16px;
  line-height: 19px;
  margin: 6px 0;
}
p {
  font-size: 13px;
  line-height: 17px;
  margin: 4px 0 8px 0;
}
a {
  color: #333;
}
a:hover {
  color: #000;
}
/* LAYOUT COMPONENT STYLES */
#content-wrap {
  width: 100%;
  min-height: 100%;
  position: relative;
}
#header,
#navi,
#content,
#footer,
#sidebar {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 13px;
}
#header {
  width: 100%;
  height: 120px;
  background: #dadada;
}
#header #header-content {
  width: 960px;
  height: 120px;
  margin: 0 auto;
  position: relative;
}
#header #header-content .logo {
  width: 140px;
  height: 90px;
  background: #bababa;
  position: absolute;
  top: 14px;
  left: 0;
}
#header #header-content .headline {
  height: 36px;
  display: inline-block;
  position: absolute;
  top: 40px;
  left: 164px;
  font-size: 36px;
  text-shadow: 0 1px 0 #fff;
}
#header #header-content .login-info {
  width: 240px;
  height: 90px;
  position: absolute;
  top: 14px;
  right: 0;
}
#header #header-content .login-info .login-name {
  width: 210px;
  display: inline-block;
  text-shadow: 0 1px 0 #fff;
  line-height: 17px;
  margin-top: 28px;
}
#header #header-content .login-info a.login-btn {
  display: inline-block;
  width: 30px;
  height: 31px;
  margin-bottom: -3px;
  background: url("../img/login-btn.png") no-repeat left top;
}
#header #header-content .login-info a.login-btn:hover {
  background: url("../img/login-btn.png") no-repeat left bottom;
}
#navi {
  width: 100%;
  height: 40px;
  background: #eaeaea;
  margin-top: 1px;
}
#navi #navi-content {
  width: 960px;
  height: 40px;
  margin: 0 auto;
  position: relative;
}
#navi #navi-content ul.navi-links {
  position: absolute;
  left: 0;
}
#navi #navi-content ul.navi-links li {
  float: left;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 0;
  margin: 0 0 0 -1px;
}
#navi #navi-content ul.navi-links li a {
  font-size: 16px;
  padding: 10px 20px;
  line-height: 40px;
}
#navi #navi-content ul.navi-links li a.home {
  display: block;
  padding: 0;
  margin: 9px 18px;
  width: 24px;
  height: 22px;
  background: url("../img/navi-home.png") no-repeat;
}
#navi #navi-content ul.navi-links li:hover {
  background: #ccc;
}
#navi #navi-content form.search {
  width: 240px;
  height: 40px;
  position: absolute;
  right: 0;
}
#navi #navi-content form.search .search-field {
  width: 100%;
  margin-top: 5px;
}
#sidebar {
  width: 240px;
  height: 100px;
  position: absolute;
  right: 0;
  top: 14px;
}
#footer {
  width: 100%;
  height: 40px;
  background: #dadada;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  position: absolute;
  bottom: -4px;
}
#footer p {
  line-height: 38px;
  margin: 0;
}
.clear {
  clear: both;
}
/* GENERAL BUTTON STYLES */
a.btn {
  display: inline-block;
  background-color: #fff;
  background-image: linear-gradient(bottom, #f0f0f0 0%, #fff 100%);
  background-image: -o-linear-gradient(bottom, #f0f0f0 0%, #fff 100%);
  background-image: -moz-linear-gradient(bottom, #f0f0f0 0%, #fff 100%);
  background-image: -webkit-linear-gradient(bottom, #f0f0f0 0%, #fff 100%);
  background-image: -ms-linear-gradient(bottom, #f0f0f0 0%, #fff 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f0f0f0), color-stop(1, #fff));
  padding: 0 16px;
  height: 23px;
  border: 1px solid #cacaca;
  text-align: center;
  line-height: 23px;
  color: #505050;
}
a.btn:hover {
  background-color: #f0f0f0;
  background-image: linear-gradient(bottom, #fff 0%, #f0f0f0 100%);
  background-image: -o-linear-gradient(bottom, #fff 0%, #f0f0f0 100%);
  background-image: -moz-linear-gradient(bottom, #fff 0%, #f0f0f0 100%);
  background-image: -webkit-linear-gradient(bottom, #fff 0%, #f0f0f0 100%);
  background-image: -ms-linear-gradient(bottom, #fff 0%, #f0f0f0 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fff), color-stop(1, #f0f0f0));
  color: #333;
}
/* CONTENT STYLES */
#page-content {
  width: 960px;
  margin: 0 auto;
  padding-bottom: 70px;
  position: relative;
}
#page-content .breadcrumb ul.breadcrumb-list {
  width: 686px;
  height: 40px;
  padding-left: 14px;
  line-height: 40px;
}
#page-content .breadcrumb ul.breadcrumb-list li {
  float: left;
}
#page-content .breadcrumb ul.breadcrumb-list li a {
  font-size: 12px;
  color: #666;
}
#page-content .breadcrumb ul.breadcrumb-list li a span.arrow {
  display: inline-block;
  margin: 0 6px;
}
#page-content .tabs-container {
  width: 700px;
  margin-bottom: 40px;
  position: relative;
}
#page-content .tabs-container .tabs {
  width: 140px;
  vertical-align: top;
  clear: left;
  float: left;
}
#page-content .tabs-container .tabs ul.tabs-list li {
  width: 139px;
  height: 28px;
  border: 1px solid #cacaca;
  border-right: none;
  margin-bottom: 3px;
  background-color: #dcdcdc;
  background-image: linear-gradient(bottom, #f0f0f0 0%, #dcdcdc 100%);
  background-image: -o-linear-gradient(bottom, #f0f0f0 0%, #dcdcdc 100%);
  background-image: -moz-linear-gradient(bottom, #f0f0f0 0%, #dcdcdc 100%);
  background-image: -webkit-linear-gradient(bottom, #f0f0f0 0%, #dcdcdc 100%);
  background-image: -ms-linear-gradient(bottom, #f0f0f0 0%, #dcdcdc 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f0f0f0), color-stop(1, #dcdcdc));
}
#page-content .tabs-container .tabs ul.tabs-list li a {
  display: block;
  width: 113px;
  height: 28px;
  line-height: 28px;
  padding: 0 13px;
  color: #505050;
}
#page-content .tabs-container .tabs ul.tabs-list li.active,
#page-content .tabs-container .tabs ul.tabs-list li:hover {
  background: none;
  position: relative;
}
#page-content .tabs-container .tabs ul.tabs-list li.active a,
#page-content .tabs-container .tabs ul.tabs-list li:hover a {
  width: 114px;
  height: 28px;
  background: #fff;
  position: absolute;
  top: 0;
  right: -1px;
}
#page-content .tabs-container .tabs ul.tabs-list li.margin {
  margin-top: 27px;
}
#page-content .tabs-container .tab-content {
  width: 530px;
  padding: 12px 14px 0 14px;
  border: 1px solid #cacaca;
  vertical-align: top;
  float: right;
  text-shadow: 0 1px 0 #fff;
  background-color: #fff;
  background-image: linear-gradient(bottom, #f0f0f0 0%, #fff 100%);
  background-image: -o-linear-gradient(bottom, #f0f0f0 0%, #fff 100%);
  background-image: -moz-linear-gradient(bottom, #f0f0f0 0%, #fff 100%);
  background-image: -webkit-linear-gradient(bottom, #f0f0f0 0%, #fff 100%);
  background-image: -ms-linear-gradient(bottom, #f0f0f0 0%, #fff 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f0f0f0), color-stop(1, #fff));
}
#page-content .tabs-container .tab-content .article,
#page-content .tabs-container .tab-content .organ-details {
  margin-bottom: 30px;
}
#page-content .tabs-container .tab-content .article h2,
#page-content .tabs-container .tab-content .organ-details h2 {
  font-size: 16px;
  margin: 6px 0 4px 0;
}
#page-content .tabs-container .tab-content .article h2 .date,
#page-content .tabs-container .tab-content .organ-details h2 .date {
  font-size: 12px;
  color: #999;
  margin-left: 6px;
  font-weight: normal;
}
#page-content .tabs-container .tab-content .article h2 .edit-icon,
#page-content .tabs-container .tab-content .organ-details h2 .edit-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  float: right;
  background: url("../img/edit-icon.png") no-repeat left top;
}
#page-content .tabs-container .tab-content .article h2 .edit-icon:hover,
#page-content .tabs-container .tab-content .organ-details h2 .edit-icon:hover {
  background: url("../img/edit-icon.png") no-repeat left bottom;
}
#page-content .tabs-container .tab-content .article .inline-comment,
#page-content .tabs-container .tab-content .organ-details .inline-comment {
  background: #dcdcdc;
  padding: 4px;
  line-height: 17px;
  margin-top: 8px;
}
#page-content .tabs-container .tab-content .article .inline-comment span.user-avatar,
#page-content .tabs-container .tab-content .organ-details .inline-comment span.user-avatar {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 6px;
}
#page-content .tabs-container .tab-content .article .inline-comment p,
#page-content .tabs-container .tab-content .organ-details .inline-comment p {
  width: 465px;
  display: inline-block;
  vertical-align: top;
  margin: -3px 0 0 0;
}
#page-content .tabs-container .tab-content .article .inline-comment p span.user-name,
#page-content .tabs-container .tab-content .organ-details .inline-comment p span.user-name {
  font-weight: bold;
  margin-right: 6px;
}
#page-content .tabs-container .tab-content .article .inline-comment p span.date,
#page-content .tabs-container .tab-content .organ-details .inline-comment p span.date {
  color: #505050;
}
#page-content .tabs-container .tab-content .article .inline-comment p span.content,
#page-content .tabs-container .tab-content .organ-details .inline-comment p span.content {
  vertical-align: top;
}
#page-content .tabs-container .tab-content .article .inline-comment:hover,
#page-content .tabs-container .tab-content .organ-details .inline-comment:hover {
  background: #e5e5e5;
}
#page-content .tabs-container .tab-content .sort-links {
  width: 100%;
  height: 13px;
  margin-bottom: 6px;
}
#page-content .tabs-container .tab-content .sort-links a.sort-name,
#page-content .tabs-container .tab-content .sort-links a.sort-date {
  color: #999;
  font-size: 12px;
}
#page-content .tabs-container .tab-content .sort-links a.sort-name span.arrow-down,
#page-content .tabs-container .tab-content .sort-links a.sort-date span.arrow-down {
  display: inline-block;
  margin: 0 0 1px 4px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #999;
}
#page-content .tabs-container .tab-content .sort-links a.sort-name:hover,
#page-content .tabs-container .tab-content .sort-links a.sort-date:hover {
  color: #505050;
}
#page-content .tabs-container .tab-content .sort-links a.sort-date {
  float: right;
}
#page-content .tabs-container .tab-content .organ {
  margin-bottom: 30px;
}
#page-content .tabs-container .tab-content .organ h2 {
  font-size: 16px;
  margin: 6px 0 4px 0;
}
#page-content .tabs-container .tab-content .organ h2 .date {
  font-size: 14px;
  float: right;
  margin-right: 8px;
}
#page-content .tabs-container .tab-content .organ h2 .edit-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  float: right;
  background: url("../img/edit-icon.png") no-repeat left top;
}
#page-content .tabs-container .tab-content .organ h2 .edit-icon:hover {
  background: url("../img/edit-icon.png") no-repeat left bottom;
}
#page-content .tabs-container .tab-content .organ p.description {
  width: 420px;
}
#page-content .tabs-container .tab-content a.application-call {
  margin-top: 14px;
}
#page-content .tabs-container .tab-content a.show-more {
  display: inline-block;
  margin: 0 0 -1px 216px;
}
#page-content .hr {
  width: 100%;
  height: 1px;
  border-bottom: 2px groove #fff;
  margin: 20px 0 14px 0;
}
#page-content .content-comments {
  width: 546px;
  margin: 0 0 20px 154px;
  line-height: 17px;
}
#page-content .content-comments .comment {
  margin: 20px 0;
}
#page-content .content-comments .comment span.user-avatar {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 6px;
}
#page-content .content-comments .comment p {
  width: 465px;
  display: inline-block;
  vertical-align: top;
  margin: -3px 0 0 0;
}
#page-content .content-comments .comment p span.user-name {
  font-weight: bold;
  margin-right: 6px;
}
#page-content .content-comments .comment p span.content {
  vertical-align: top;
}
#page-content .content-comments .comment p span.date,
#page-content .content-comments .comment p a.edit,
#page-content .content-comments .comment p a.remove {
  color: #999;
  font-size: 12px;
  margin-right: 4px;
}
#page-content .content-comments .comment p a.edit:hover,
#page-content .content-comments .comment p a.remove:hover {
  color: #505050;
}
#page-content .sidebar-content a.sidebar-button {
  display: block;
  width: 210px;
  height: 28px;
  line-height: 27px;
  position: relative;
  padding: 0 0 0 30px;
  margin-bottom: 3px;
  text-align: left;
}
#page-content .sidebar-content a.sidebar-button span.plus-icon {
  display: inline-block;
  width: 10px;
  height: 11px;
  background: url("../img/plus-icon.png") no-repeat;
  position: absolute;
  top: 9px;
  left: 10px;
}
#page-content .sidebar-content .profile-info {
  width: 240px;
  margin-bottom: 20px;
}
#page-content .sidebar-content .profile-info .info-tab {
  height: 26px;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: -1px;
}
#page-content .sidebar-content .profile-info .info-tab span.tab-left {
  display: inline-block;
  width: 11px;
  height: 27px;
  background: url("../img/tab-end-left.png") no-repeat;
}
#page-content .sidebar-content .profile-info .info-tab span.tab-middle {
  display: inline-block;
  height: 27px;
  padding: 0 6px;
  background: url("../img/tab-bg.png") repeat-x;
  vertical-align: top;
  line-height: 26px;
}
#page-content .sidebar-content .profile-info .info-tab span.tab-right {
  display: inline-block;
  width: 11px;
  height: 27px;
  background: url("../img/tab-end-right.png") no-repeat;
}
#page-content .sidebar-content .profile-info .info-content {
  background: #f2f2f2;
  border: 1px solid #cacaca;
  padding: 12px;
  text-shadow: 0 1px 0 #fff;
}
#page-content .sidebar-content .profile-info .info-content .avatar {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #ccc;
  margin-right: 8px;
}
#page-content .sidebar-content .profile-info .info-content p {
  width: 124px;
  display: inline-block;
  vertical-align: top;
  line-height: 17px;
  margin-top: 0;
}
#page-content .sidebar-content .profile-info .info-content a.edit-btn {
  display: inline-block;
  width: 85px;
  height: 25px;
  background: url("../img/edit-btn.png") no-repeat left top;
  text-shadow: 0 1px 0 #000;
  line-height: 23px;
  text-align: center;
  color: #fff;
  float: right;
}
#page-content .sidebar-content .profile-info .info-content a.edit-btn:hover {
  background: url("../img/edit-btn.png") no-repeat left bottom;
}
/* MODAL STYLES */
.modal {
  position: fixed;
  top: 192px;
  margin-left: 131px;
  width: 558px;
  background: rgba(46,46,46,0.30);
  padding: 10px;
  border-radius: 10px;
}
.modal .content {
  padding: 14px 14px 2px 14px;
  background-color: #fff;
  background-image: linear-gradient(bottom, #f0f0f0 0%, #fff 100%);
  background-image: -o-linear-gradient(bottom, #f0f0f0 0%, #fff 100%);
  background-image: -moz-linear-gradient(bottom, #f0f0f0 0%, #fff 100%);
  background-image: -webkit-linear-gradient(bottom, #f0f0f0 0%, #fff 100%);
  background-image: -ms-linear-gradient(bottom, #f0f0f0 0%, #fff 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f0f0f0), color-stop(1, #fff));
}
.modal .content h2 a.close-modal {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url("../img/remove-icon.png") no-repeat left top;
  float: right;
  margin-top: 1px;
}
.modal .content h2 a.close-modal:hover {
  background: url("../img/remove-icon.png") no-repeat left bottom;
}
#create-new-organ,
#call-for-application {
  display: none;
}
/* FORM ELEMENT STYLES */
input.field {
  height: 28px;
}
label.field-label {
  display: block;
  font-size: 13px;
  text-shadow: 0 1px 0 #fff;
  margin-bottom: 6px;
}
label.inline-label {
  margin-right: 20px;
}
input.wide,
textarea.wide {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 14px;
}
textarea.wide {
  margin-top: 0;
  height: 120px;
  resize: none;
}
input.half {
  width: 260px;
  margin-bottom: 14px;
  display: block;
}
input.small {
  width: 40px;
  margin: 0 8px 14px 0;
}
form.application-workflow {
  display: block;
  position: relative;
  width: 100%;
  height: 26px;
}
form.application-workflow .selector {
  position: absolute;
  top: 8px;
  left: -2px;
}
.selector select {
  margin: -2px 0 0 6px;
}
.selector select option {
  color: #333;
}
a.add-members {
  padding: 0 13px 0 30px;
  margin-bottom: 3px;
  text-align: left;
  position: relative;
}
a.add-members span.plus-icon {
  display: inline-block;
  width: 10px;
  height: 11px;
  background: url("../img/plus-icon.png") no-repeat;
  position: absolute;
  top: 6px;
  left: 10px;
}
.inline-block {
  display: inline-block;
  width: 260px;
  margin: 0 10px 14px 0;
}
.inline-block input {
  width: 100%;
}
.no-margin {
  margin-right: 0;
}
.button-row {
  width: 100%;
  clear: both;
  text-align: right;
  margin-bottom: 14px;
}
.button-row a.submit,
.button-row a.cancel {
  margin-left: 3px;
}
.button-row a.cancel {
  background-color: #f0f0f0;
  background-image: linear-gradient(bottom, #dcdcdc 0%, #f0f0f0 100%);
  background-image: -o-linear-gradient(bottom, #dcdcdc 0%, #f0f0f0 100%);
  background-image: -moz-linear-gradient(bottom, #dcdcdc 0%, #f0f0f0 100%);
  background-image: -webkit-linear-gradient(bottom, #dcdcdc 0%, #f0f0f0 100%);
  background-image: -ms-linear-gradient(bottom, #dcdcdc 0%, #f0f0f0 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dcdcdc), color-stop(1, #f0f0f0));
}
.button-row a.cancel:hover {
  background-color: #dcdcdc;
  background-image: linear-gradient(bottom, #f0f0f0 0%, #dcdcdc 100%);
  background-image: -o-linear-gradient(bottom, #f0f0f0 0%, #dcdcdc 100%);
  background-image: -moz-linear-gradient(bottom, #f0f0f0 0%, #dcdcdc 100%);
  background-image: -webkit-linear-gradient(bottom, #f0f0f0 0%, #dcdcdc 100%);
  background-image: -ms-linear-gradient(bottom, #f0f0f0 0%, #dcdcdc 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f0f0f0), color-stop(1, #dcdcdc));
}
.button-row a.print {
  margin-top: 6px;
  float: left;
  display: inline-block;
  height: 15px;
  padding-left: 24px;
  background: url("../img/print-icon.png") no-repeat center left;
}
