/*Global styles*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* TEXT STYLES */
basic-fonts = 'Helvetica Neue', Helvetica, Arial, sans-serif

// FIXME: get rid of important
html, body
  font-family basic-fonts
  color #333
  font-size: 12px !important

h2
  font-size 16px
  line-height 19px
  margin 6px 0

h2
  font-size 16px
  margin 6px 0 4px 0
  .date
    font-size 12px
    color #999
    margin-left 6px
    font-weight normal

h3
  font-size 13px
  line-height 16px
  margin 10px 0 0 0

p
  line-height 17px
  margin 4px 0 8px 0

a
  color #336699
a:hover
  color #003366

.js-data
  display none


