/* FONT FAMILIES */

basic-fonts = 'Helvetica Neue', Helvetica, Arial, sans-serif


/* COLORS */

color-1-dark = #dcdcdc
color-1-light = #f0f0f0
color-2-dark = #f0f0f0
color-2-light = #ffffff
color-3-dark = #f0f0f0
color-3-light = #ffffff

/* FUNCTIONS */

gradient(color-1, color-2)
  background-color color-1
  background-image linear-gradient(bottom, color-2 0%, color-1 100%)
  background-image -o-linear-gradient(bottom, color-2 0%, color-1 100%)
  background-image -moz-linear-gradient(bottom, color-2 0%, color-1 100%)
  background-image -webkit-linear-gradient(bottom, color-2 0%, color-1 100%)
  background-image -ms-linear-gradient(bottom, color-2 0%, color-1 100%)
  background-image -webkit-gradient(linear, left bottom, left top, color-stop(0.0, color-2), color-stop(1.0, color-1))

box-shadows(x,y,w,c)
  -moz-box-shadow x y w c
  -webkit-box-shadow x y w c
  -o-box-shadow x y w c
  -ms-box-shadow x y w c
  box-shadow x y w c

box-shadows-inset(x,y,w,c)
  -moz-box-shadow inset x y w c
  -webkit-box-shadow inset x y w c
  -o-box-shadow inset x y w c
  -ms-box-shadow inset x y w c
  box-shadow inset x y w c


/* Main layout classes */

// NEW

#wrapper,
.footer
  max-width: 960px
  position: relative
  margin: 0 auto 

.header
  height: 120px

.navi
  height 40px
  gradient(color-1-light, color-1-dark)

.content-container
  margin-bottom: 40px

.page-content
  max-width: 700px
  float: left
  margin-bottom: 40px

.sidebar-content
  width: 240px

.footer
  margin-top: -40px
  height: 40px
  line-height: 40px
  gradient(color-1-light, color-1-dark)
  text-align: center
  text-shadow: 0 1px 0 #FFF

// begin olde
html, body, #wrapper
  height 100%

body > #wrapper
  height auto
  min-height 800px

@media (min-height: 800px)
  body > #wrapper
    min-height 100%

#page-content
  width 700px
  float left
  overflow visible
  margin-bottom 40px

#sidebar
  width 240px
  float right
  padding-top 15px

#index
  padding-top 15px

