/* COLORS */

color-1-dark = #dcdcdc
color-1-light = #f0f0f0
color-2-dark = #f0f0f0
color-2-light = #ffffff
color-3-dark = #f0f0f0
color-3-light = #ffffff

/* FUNCTIONS */

gradient(color-1, color-2)
  background-color color-1
  background-image linear-gradient(bottom, color-2 0%, color-1 100%)
  background-image -o-linear-gradient(bottom, color-2 0%, color-1 100%)
  background-image -moz-linear-gradient(bottom, color-2 0%, color-1 100%)
  background-image -webkit-linear-gradient(bottom, color-2 0%, color-1 100%)
  background-image -ms-linear-gradient(bottom, color-2 0%, color-1 100%)
  background-image -webkit-gradient(linear, left bottom, left top, color-stop(0.0, color-2), color-stop(1.0, color-1))

/* Main layout classes */
html, body
  height: 100%

#wrapper
  min-height: 100%

#wrapper,
.footer
  max-width: 960px
  position: relative
  margin: 0 auto 

.header
  height: 120px

.navi
  height 40px
  gradient(color-1-light, color-1-dark)

.content-container
  padding-bottom: 40px

.page-content
  display: inline-block
  margin-bottom: 40px
  width: 75%

.sidebar
  display: inline-block
  margin: 40px 0 40px 1%
  vertical-align: top
  width: 24%

.footer
  margin-top: -40px
  height: 40px
  line-height: 40px
  gradient(color-1-light, color-1-dark)
  text-align: center
  text-shadow: 0 1px 0 #FFF

// move sidebar to bottom for smaller screens
@media screen and (max-width: 750px)
  .page-content, .sidebar
    margin: 0
    width: 100%

  .sidebar-content
    display: inline-block
    width: 48%
    margin: 5px 1%
