@media print
  *
    background: transparent !important
    border: none !important
    color: black !important
    text-shadow: none !important
    filter: none !important
    -ms-filter: none !important
    float: none !important
  body
    overflow: visible
  abbr[title]:after
    content: " (" attr(title) ")"
  a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after
    content: "" /* Don't show links for images, or javascript/internal links */
  img
    page-break-inside: avoid
    max-width: 100% !important
  @page { margin: 0.5cm; }
  p, h2, h3
    orphans: 3
    widows: 3
  h1, h2, h3, .header
    page-break-after: avoid
  a
    all: inherit
  // Elements hidden from print
  .navi,
  .button-row,
  .sidebar,
  .sidebar-content,
  .breadcrumb,
  .login-request,
  .login-info,
  .language-sel,
  .footer
    display: none !important

  .content-container,
  .page-content,
  .content-box
    display: block !important
    page-break-before: avoid
    page-break-inside: auto
    visibility: hidden
    width: 100% !important
    margin: 0
    padding: 0
    padding: 0
    border: none

  .section
    display: block
    visibility: visible
    page-break-after: auto !important
    page-break-inside: avoid
