/* FONT FAMILIES */

basic-fonts = 'Helvetica Neue', Helvetica, Arial, sans-serif


/* COLORS */

color-1-dark = #dcdcdc
color-1-light = #f0f0f0
color-2-dark = #f0f0f0
color-2-light = #ffffff
color-3-dark = #f0f0f0
color-3-light = #ffffff

/* FUNCTIONS */

gradient(color-1, color-2)
  background-color color-1
  background-image linear-gradient(bottom, color-2 0%, color-1 100%)
  background-image -o-linear-gradient(bottom, color-2 0%, color-1 100%)
  background-image -moz-linear-gradient(bottom, color-2 0%, color-1 100%)
  background-image -webkit-linear-gradient(bottom, color-2 0%, color-1 100%)
  background-image -ms-linear-gradient(bottom, color-2 0%, color-1 100%)
  background-image -webkit-gradient(linear, left bottom, left top, color-stop(0.0, color-2), color-stop(1.0, color-1))

box-shadows(x,y,w,c)
  -moz-box-shadow x y w c
  -webkit-box-shadow x y w c
  -o-box-shadow x y w c
  -ms-box-shadow x y w c
  box-shadow x y w c

box-shadows-inset(x,y,w,c)
  -moz-box-shadow inset x y w c
  -webkit-box-shadow inset x y w c
  -o-box-shadow inset x y w c
  -ms-box-shadow inset x y w c
  box-shadow inset x y w c

/* CONTENT STYLES */

.organ-details, .organ-members, .call
  margin-bottom 30px
#recommendations
  ul
    margin-left 20px
    list-style-type square
  li
    height: 25px
    margin-bottom: 5px
    vertical-align middle
    span
      display: inline-block
      line-height 25px
      height: 25px
      vertical-align middle
    form, div
      display: inline-block
    div
      margin-left: 10px

//.organ-members, .call-for-application, .proposed-to-be-selected, .edit-members
.member-card.invalid
  text-shadow: none
  border 1px solid darken(#EB9D9E, 15%)
  gradient(#EB9D9E, lighten(#EB9D9E, 7%))
.member-card.valid
  text-shadow: none
  border 1px solid darken(#B4EEB4, 22%)
  gradient(darken(#B4EEB4, 7%), #B4EEB4)
.member-card-empty
  position relative
  width 257px
  height 80px
  display inline-block
  margin 11px 0 0 0
  border 1px dashed #cacaca
  background-color color-1-light
  text-align center
  vertical-align top
  .placeholder
    position absolute
    top 0px
    margin-left 40px
    z-index 0
    h2
      width 170px
      margin 20px auto 0 auto
      text-shadow none
      color #CCC
.no-deputy, .no-member, .current-member, .current-deputy
  border none
  background none
.member-card
  gradient(color-1-light, color-1-dark)
  border-radius 2px
  -moz-border-radius 2px
  -webkit-border-radius 2px
  -khtml-border-radius 2px
  border 1px solid #cacaca
  width 231px
  min-height 54px
  padding 13px
  display inline-block
  position relative
  margin 0 0 11px 0
  cursor pointer
  z-index 1
  text-align left
.member-card.handled
  background #e9e9e9
  border 1px solid #dcdcdc
.member-card:active
  border 1px solid #cacaca
  -webkit-box-shadow 0px 0px 6px 0px #cacaca
  -moz-box-shadow 0px 0px 6px 0px #cacaca
  box-shadow 0px 0px 6px 0px #cacaca

.member-list-item
  width 258px
  display inline-block

.highlight-drop-area
  background #FFF
.highlight-return-area
  background #FFF
  border 1px dashed #dcdcdc
  width 529px
  margin 10px 0 0 -1px

.organ-members, .proposed-to-be-selected
  .member-card
    margin 11px 0 0 0
    vertical-align top
    cursor default
    min-height 65px
  .current-deputy, .current-member
    height 92px
    .placeholder
      h2
        margin-top 38px

.call-for-application, .edit-members, .organ-members.staff-members
  .applicants, .members, .edit-members, .selected
    min-height 100px
    margin 11px 0 0 0
    .member-card
      margin-right 11px
    span.not_eligible
      font-weight bold
      margin-top 4px
      display inline-block
    span.not_eligible:hover
      color #000

.organ
  margin-bottom 30px
  .date
    font-size 14px
    float right
    margin-right 8px

/* MODAL STYLES */
#modal-wrap
  width 100%
  min-height 100%
  height auto
  position fixed
  top 0
  left 0
  background transparent
  display none
  color #333
  z-index 100
.modal
  position relative
  top 94px
  right 60px
  margin 0 auto
  width 558px
  background rgba(46,46,46,0.3)
  padding 10px
  border-radius 10px
  -moz-border-radius 10px
  -webkit-border-radius 10px
  -khtml-border-radius 10px
  .content
    padding 14px 14px 2px 14px
    gradient(color-2-light, color-2-dark)
    .item-block
      margin 14px 0
      .applicant-details
        padding-left 10px
      .label
        display inline-block
        width 160px
        font-weight bold
        vertical-align top
      .text, ul
        display inline-block
        width 370px

/* TOOLTIP STYLES */

.qtip
  font-family basic-fonts
  font-size 13px
  line-height 15px
  -webkit-box-shadow 1px 2px 5px 0 #818181
  -moz-box-shadow 1px 2px 5px 0 #818181
  box-shadow 1px 2px 5px 0 #818181
  margin-top 4px

/* GRITTER OVERRIDES */
#gritter-notice-wrapper
  .gritter-item.gritter-css3
    color:black
    .gritter-title
      text-shadow:none
      font-size: 16px
  .success
    .gritter-item.gritter-css3
      border 1px solid darken(#B4EEB4, 22%)
      gradient(darken(#B4EEB4, 7%), #B4EEB4)
  .error
    .gritter-item.gritter-css3
      border 1px solid darken(#EB9D9E, 15%)
      gradient(#EB9D9E, lighten(#EB9D9E, 7%))

.notice
  .title
    font-size 14px
    margin: 0px 0px 2px 0px
  padding:6 px
  color black
  border-radius 4px
  -moz-border-radius 4px
  -webkit-border-radius 4px
  -khtml-border-radius 4px
.notice.success
  border 1px solid darken(#B4EEB4, 22%)
  gradient(darken(#B4EEB4, 7%), #B4EEB4)
.notice.warning
  border 1px solid darken(#EB9D9E, 15%)
  gradient(#EB9D9E, lighten(#EB9D9E, 7%))
