/* FONT FAMILIES */

basic-fonts = 'Helvetica Neue', Helvetica, Arial, sans-serif


/* COLORS */

color-1-dark = #dcdcdc
color-1-light = #f0f0f0
color-2-dark = #f0f0f0
color-2-light = #ffffff


/* FUNCTIONS */

gradient(color-1, color-2)
  background-color color-1
  background-image linear-gradient(bottom, color-2 0%, color-1 100%)
  background-image -o-linear-gradient(bottom, color-2 0%, color-1 100%)
  background-image -moz-linear-gradient(bottom, color-2 0%, color-1 100%)
  background-image -webkit-linear-gradient(bottom, color-2 0%, color-1 100%)
  background-image -ms-linear-gradient(bottom, color-2 0%, color-1 100%)
  background-image -webkit-gradient(linear, left bottom, left top, color-stop(0.0, color-2), color-stop(1.0, color-1))

box-shadows(x,y,w,c)
  -moz-box-shadow x y w c
  -webkit-box-shadow x y w c
  -o-box-shadow x y w c
  -ms-box-shadow x y w c
  box-shadow x y w c

box-shadows-inset(x,y,w,c)
  -moz-box-shadow inset x y w c
  -webkit-box-shadow inset x y w c
  -o-box-shadow inset x y w c
  -ms-box-shadow inset x y w c
  box-shadow inset x y w c

/* TEXT STYLES */

h2
  font-size 16px
  line-height 19px
  margin 6px 0

h3
  font-size 13px
  line-height 16px
  margin 10px 0 0 0

p
  font-size 13px
  line-height 17px
  margin 4px 0 8px 0

a
  color #333
a:hover
  color #000


/* LAYOUT COMPONENT STYLES */

#content-wrap
  width 100%
  min-height 100%
  position relative

#header, #navi, #content, #footer, #sidebar
  font-family basic-fonts
  color #333
  font-size 13px

#header
  width 100%
  height 120px
  background #dadada
  #header-content
    width 960px
    height 120px
    margin 0 auto
    position relative
    .logo
      width 140px
      height 90px
      background #bababa
      position absolute
      top 14px
      left 0
    .headline
      height 36px
      display inline-block
      position absolute
      top 40px
      left 164px
      font-size 36px
      text-shadow 0 1px 0 #FFF
    .login-info
      width 240px
      height 90px
      position absolute
      top 14px
      right 0
      .login-name
        width 210px
        display inline-block
        text-shadow 0 1px 0 #FFF
        line-height 17px
        margin-top 28px
      a.login-btn
        display inline-block
        width 30px
        height 31px
        margin-bottom -3px
        background url('../img/login-btn.png') no-repeat left top
      a.login-btn:hover
        background url('../img/login-btn.png') no-repeat left bottom

#navi
  width 100%
  height 40px
  background #eaeaea
  margin-top 1px
  #navi-content
    width 960px
    height 40px
    margin 0 auto
    position relative
    ul.navi-links
      position absolute
      left 0
      li
        float left
        border-left 1px solid #CCC
        border-right 1px solid #CCC
        padding 0
        margin 0 0 0 -1px
        a
          font-size 16px
          padding 10px 20px
          line-height 40px
        a.home
          display block
          padding 0
          margin 9px 18px
          width 24px
          height 22px
          background url('../img/navi-home.png') no-repeat
      li:hover
        background #CCC
    form.search
      width 240px
      height 40px
      position absolute
      right 0
      .search-field
        width 100%
        margin-top 5px

#sidebar
  width 240px
  height 100px
  position absolute
  right 0
  top 14px

#footer
  width 100%
  height 40px
  background #dadada
  text-align center
  text-shadow 0 1px 0 #FFF
  position absolute
  bottom -4px
  p
    line-height 38px
    margin 0

.clear
  clear both

.hr
  width 558px
  height 0px
  border-bottom 1px solid #FFF
  border-top 1px solid #cacaca
  margin 20px 0 14px -14px


/* GENERAL BUTTON STYLES */
a.btn
  display inline-block
  gradient(color-2-light, color-2-dark)
  padding 0 16px
  height 23px
  border 1px solid #cacaca
  text-align center
  line-height 23px
  color #505050
a.btn:hover
  gradient(color-2-dark, color-2-light)
  color #333

/* CONTENT STYLES */

#page-content
  width 960px
  margin 0 auto
  padding-bottom 70px
  position relative

  .breadcrumb
    ul.breadcrumb-list
      width 686px
      height 40px
      padding-left 14px
      line-height 40px
      li
        float left
        a
          font-size 12px
          color #666
          span.arrow
            display inline-block
            margin 0 6px
        a:hover
          color #333

  .tabs-container
    width 700px
    margin-bottom 40px
    position relative
    .tabs
      width 140px
      vertical-align top
      clear left
      float left
      ul.tabs-list
        li
          width 139px
          height 28px
          border 1px solid #cacaca
          border-right none
          margin-bottom 3px
          gradient(color-1-dark, color-1-light)
          a
            display block
            width 113px
            height 28px
            line-height 28px
            padding 0 13px
            color #505050
        li.active, li:hover
          background none
          position relative
          a
            width 114px
            height 28px
            background #FFF
            position absolute
            top 0
            right -1px
        li.margin
          margin-top 27px
    .tab-content
      width 530px
      padding 12px 14px 0 14px
      border 1px solid #cacaca
      vertical-align top
      float right
      text-shadow 0 1px 0 #FFF
      gradient(color-2-light, color-2-dark)
      .article, .organ-details, .organ-members
        margin-bottom 30px
        h2
          font-size 16px
          margin 6px 0 4px 0
          .date
            font-size 12px
            color #999
            margin-left 6px
            font-weight normal
          .edit-icon
            display inline-block
            width 14px
            height 14px
            float right
            background url('../img/edit-icon.png') no-repeat left top
          .edit-icon:hover
            background url('../img/edit-icon.png') no-repeat left bottom
        .inline-comment
          background #dcdcdc
          padding 4px
          line-height 17px
          margin-top 8px
          span.user-avatar
            width 50px
            height 50px
            display inline-block
            margin-right 6px
          p
            width 465px
            display inline-block
            vertical-align top
            margin -3px 0 0 0
            span.user-name
              font-weight bold
              margin-right 6px
            span.date
              color #505050
            span.content
              vertical-align top
        .inline-comment:hover
          background #e5e5e5
        p.term, p.organisation-unit, .person-in-charge
          margin 14px 0 10px 0
          span.label
            font-weight bold
            margin-right 6px
      .organ-members, .call-for-application
        h2
          .send-message
            font-size 12px
            color #999
            margin-left 6px
            font-weight normal
            float right
            background url('../img/mail-icon.png') no-repeat left center
            padding-left 22px
          .send-message:hover
            color #505050
        .member-card
          gradient(color-1-light, color-1-dark)
          border-radius 2px
          -moz-border-radius 2px
          -webkit-border-radius 2px
          -khtml-border-radius 2px
          border 1px solid #cacaca
          width 231px
          padding 13px
          display inline-block
          position relative
          margin 11px 11px 0 0
          .avatar
            display inline-block
            width 50px
            height 50px
            background #CCC
            margin-right 8px
          a.remove-member
            width 8px
            height 8px
            background url('../img/remove-icon-small.png') no-repeat 0 0
            display inline-block
            position absolute
            top 13px
            right 13px
          a.remove-member:hover
            padding 1px
            border-radius 2px
            -moz-border-radius 2px
            -webkit-border-radius 2px
            -khtml-border-radius 2px
            border 1px solid #cacaca
            background url('../img/remove-icon-small.png') no-repeat center -9px
            margin -2px -2px 0 0
          p
            display inline-block
            margin 0
            vertical-align top
          .status-buttons
            display inline-block
            margin-left 1px
            vertical-align top
            padding-left 58px
            a.status
              padding 0 6px
              font-size 12px
              height 18px
              line-height 18px
              margin-left -1px
            a.active
              gradient(color-1-dark, color-1-light)
              color #333
        .member-card:hover
          background color-1-light
        .no-margin
          margin-right 0
        p.definition
          margin-top 10px

      .call-for-application
        .column
          width 33%
          display inline-block
          vertical-align top
          ul.list-of-names
            margin 4px 0 13px 0
            li
              line-height 18px
              margin-top 4px


      .sort-links
        width 100%
        height 13px
        margin-bottom 6px
        a.sort-name, a.sort-date
          color #999
          font-size 12px
          span.arrow-down
            display inline-block
            margin 0 0 1px 4px
            width 0
            height 0
            border-left 5px solid transparent
            border-right 5px solid transparent
            border-top 5px solid #999
        a.sort-name:hover, a.sort-date:hover
          color #505050
        a.sort-date
          float right
      .organ
        margin-bottom 30px
        h2
          font-size 16px
          margin 6px 0 4px 0
          .date
            font-size 14px
            float right
            margin-right 8px
          .edit-icon
            display inline-block
            width 14px
            height 14px
            float right
            background url('../img/edit-icon.png') no-repeat left top
          .edit-icon:hover
            background url('../img/edit-icon.png') no-repeat left bottom
        p.description
          width 420px
      a.application-call
        margin-top 14px
      a.show-more
        display inline-block
        margin 0 0 -1px 216px

  .content-comments
    width 546px
    line-height 17px
    .comment
      margin 20px 0
      span.user-avatar
        width 50px
        height 50px
        display inline-block
        margin-right 6px
      p
        width 465px
        display inline-block
        vertical-align top
        margin -3px 0 0 0
        span.user-name
          font-weight bold
          margin-right 6px
        span.content
          vertical-align top
        span.date, a.edit, a.remove
          color #999
          font-size 12px
          margin-right 4px
        a.edit:hover, a.remove:hover
          color #505050

  .sidebar-content
    a.sidebar-button
      display block
      width 210px
      height 28px
      line-height 27px
      position relative
      padding 0 0 0 30px
      margin-bottom 3px
      text-align left
      span.plus-icon
        display inline-block
        width 10px
        height 11px
        background url('../img/plus-icon.png') no-repeat
        position absolute
        top 9px
        left 10px

    .profile-info
      width 240px
      margin-bottom 20px
      .info-tab
        height 26px
        border-bottom 1px solid #f2f2f2
        margin-bottom -1px
        span.tab-left
          display inline-block
          width 11px
          height 27px
          background url('../img/tab-end-left.png') no-repeat
        span.tab-middle
          display inline-block
          height 27px
          padding 0 6px
          background url('../img/tab-bg.png') repeat-x
          vertical-align top
          line-height 26px
        span.tab-right
          display inline-block
          width 11px
          height 27px
          background url('../img/tab-end-right.png') no-repeat
      .info-content
        background #f2f2f2
        border 1px solid #cacaca
        padding 12px
        text-shadow 0 1px 0 #FFF
        .avatar
          display inline-block
          width 50px
          height 50px
          background #CCC
          margin-right 8px
        p
          width 124px
          display inline-block
          vertical-align top
          line-height 17px
          margin-top 0
        a.edit-btn
          display inline-block
          width 85px
          height 25px
          background url('../img/edit-btn.png') no-repeat left top
          text-shadow 0 1px 0 #000
          line-height 23px
          text-align center
          color #FFF
          float right
        a.edit-btn:hover
          background url('../img/edit-btn.png') no-repeat left bottom

/* MODAL STYLES */
#modal-wrap
  width 100%
  min-height 100%
  height auto !important
  height 100%
  position fixed
  top 0
  left 0
  background transparent
  display none
  font-family basic-fonts
  color #333
  font-size 13px

  .modal
    position relative
    top 94px
    right 60px
    margin 0 auto
    width 558px
    background rgba(46,46,46,0.3)
    padding 10px
    border-radius 10px
    -moz-border-radius 10px
    -webkit-border-radius 10px
    -khtml-border-radius 10px
    .content
      padding 14px 14px 2px 14px
      gradient(color-2-light, color-2-dark)
      h2
        a.close-modal
          display inline-block
          width 14px
          height 14px
          background url('../img/remove-icon.png') no-repeat left top
          float right
          margin-top 1px
        a.close-modal:hover
          background url('../img/remove-icon.png') no-repeat left bottom
          padding 2px
          border-radius 2px
          -moz-border-radius 2px
          -webkit-border-radius 2px
          -khtml-border-radius 2px
          border 1px solid #cacaca
          background url('../img/remove-icon.png') no-repeat center -14px
          margin -2px -3px 0 0
        .language-buttons
          display inline-block
          margin-left 1px
          vertical-align top
          position absolute
          right 40px
          margin -2px 14px 0 0
          a.lang
            padding 0 6px
            font-size 12px
            height 17px
            line-height 17px
            margin-left -1px
          a.active
            gradient(color-1-dark, color-1-light)
            color #333
      .item-block
        margin 14px 0
        .applicant-details
          padding-left 10px
        .label
          display inline-block
          width 160px
          font-weight bold
          vertical-align top
        .text, ul.list-of-recipients
          display inline-block
          width 370px
        ul.list-of-recipients
          li
            line-height 18px

#create-new-organ, #call-for-application, #received-application, #send-group-message
  display none

/* FORM ELEMENT STYLES */

input.field
  height 22px

label.field-label
  display block
  font-size 13px
  text-shadow 0 1px 0 #FFF
  margin-bottom 6px

label.inline-label
  margin-right 20px

input.wide, textarea.wide
  width 99%

textarea.wide
  height 120px
  resize none

input.half
  width 254px
  margin-bottom 14px
  display block

input.small
  width 40px
  margin 0 8px 14px 0

form.application-workflow
  display block
  position relative
  width 100%
  height 26px
  .selector
    position absolute
    top 8px
    left -2px

a.add-members
  padding 0 13px 0 30px
  margin-bottom 3px
  text-align left
  position relative
  span.plus-icon
    display inline-block
    width 10px
    height 11px
    background url('../img/plus-icon.png') no-repeat
    position absolute
    top 6px
    left 10px

form.new-application
  textarea.wide
    margin 14px 0 10px 0

form.new-organ
  input.wide
    margin 14px 0 10px 0

form.send-message
  textarea.wide
    margin 0 0 10px 0

form.add-applicants
  margin-bottom 14px
form.add-applicants, form.select-recipients, form.add-recipients
  margin-top 10px
  input.wide
    width 491px
    margin 14px 6px 0 0
  a.add-row
    padding 0
    width 25px
    height 23px
    padding-top 2px
    span.plus-icon
      display inline-block
      width 10px
      height 11px
      background url('../img/plus-icon.png') no-repeat center center

form.add-recipients
  margin-top 0
  input.wide
    margin-top 0

.inline-block
  display inline-block
  width 260px
  margin 0 10px 14px 0
  input
    width 98%
.no-margin
  margin-right 0

.button-row
  width 100%
  clear both
  text-align right
  margin 10px 0 14px 0
  a.submit, a.cancel
    margin-left 3px
  a.cancel
    gradient(color-1-light, color-1-dark)
  a.cancel:hover
    gradient(color-1-dark, color-1-light)
  a.print
    margin-top 6px
    float left
    display inline-block
    height 15px
    padding-left 24px
    background url('../img/print-icon.png') no-repeat center left
