/* FONT FAMILIES */

basic-fonts = 'Helvetica Neue', Helvetica, Arial, sans-serif


/* COLORS */

color-1-dark = #dcdcdc
color-1-light = #f0f0f0
color-2-dark = #f0f0f0
color-2-light = #ffffff
color-3-dark = #f0f0f0
color-3-light = #ffffff

/* FUNCTIONS */

gradient(color-1, color-2)
  background-color color-1
  background-image linear-gradient(bottom, color-2 0%, color-1 100%)
  background-image -o-linear-gradient(bottom, color-2 0%, color-1 100%)
  background-image -moz-linear-gradient(bottom, color-2 0%, color-1 100%)
  background-image -webkit-linear-gradient(bottom, color-2 0%, color-1 100%)
  background-image -ms-linear-gradient(bottom, color-2 0%, color-1 100%)
  background-image -webkit-gradient(linear, left bottom, left top, color-stop(0.0, color-2), color-stop(1.0, color-1))

box-shadows(x,y,w,c)
  -moz-box-shadow x y w c
  -webkit-box-shadow x y w c
  -o-box-shadow x y w c
  -ms-box-shadow x y w c
  box-shadow x y w c

box-shadows-inset(x,y,w,c)
  -moz-box-shadow inset x y w c
  -webkit-box-shadow inset x y w c
  -o-box-shadow inset x y w c
  -ms-box-shadow inset x y w c
  box-shadow inset x y w c

/* LAYOUT COMPONENT STYLES */

.clearfix:after
  content "."
  display block
  height 0
  clear both
  visibility hidden
.clearfix
  display inline-block
/* Hides from IE-mac \*/
* html .clearfix
  height 1%
.clearfix
  display block
/* End hide from IE-mac */

/*Opera Fix*/
body:before
  content ""
  height 100%
  float left
  width 0
  margin-top -32767px

#confirmed_alliances
  border 1px solid #cacaca

#confirmed_alliances, #unconfirmed_alliances
  background #f2f2f2
  padding: 5px 8px 8px 8px
  h3
    font-size: 13px
    text-align: center
    margin-bottom: 14px
  li
    margin-bottom: 5px
    text-align: center
    margin-bottom: 12px
  form
    margin-top: 5px
#unconfirmed_alliances
  border 1px solid #EB9D9E
  h3
    color:red

.info-tab
  height 26px
  border-bottom 1px solid #f2f2f2
  margin-bottom -1px
span.tab-left
  display inline-block
  width 11px
  height 27px
  background url('../img/tab-end-left.png') no-repeat
span.tab-middle
  display inline-block
  height 27px
  padding 0 6px
  background url('../img/tab-bg.png') repeat-x
  vertical-align top
  line-height 26px
span.tab-right
  display inline-block
  width 11px
  height 27px
  background url('../img/tab-end-right.png') no-repeat

.clear
  clear both

.hr
  width: 100%
  height 0px
  border-bottom 1px solid #FFF
  border-top 1px solid #cacaca
  margin: 12px auto



/* CONTENT STYLES */

.organ-details, .organ-members, .call
  margin-bottom 30px
#recommendations
  ul
    margin-left 20px
    list-style-type square
  li
    height: 25px
    margin-bottom: 5px
    vertical-align middle
    span
      display: inline-block
      line-height 25px
      height: 25px
      vertical-align middle
    form, div
      display: inline-block
    div
      margin-left: 10px

.organ-members, .call-for-application, .proposed-to-be-selected, .edit-members
  .member-card.invalid
    text-shadow: none
    border 1px solid darken(#EB9D9E, 15%)
    gradient(#EB9D9E, lighten(#EB9D9E, 7%))
  .member-card.valid
    text-shadow: none
    border 1px solid darken(#B4EEB4, 22%)
    gradient(darken(#B4EEB4, 7%), #B4EEB4)
  .member-card-empty
    position relative
    width 257px
    height 80px
    display inline-block
    margin 11px 0 0 0
    border 1px dashed #cacaca
    background-color color-1-light
    text-align center
    vertical-align top
    .placeholder
      position absolute
      top 0px
      margin-left 40px
      z-index 0
      h2
        width 170px
        margin 20px auto 0 auto
        text-shadow none
        color #CCC
  .no-deputy, .no-member, .current-member, .current-deputy
    border none
    background none
  .arrow
    width 11px
    height 82px
    display inline-block
    background url('../img/arrow-right.png') no-repeat center center
    margin-top 11px
  .member-card
    gradient(color-1-light, color-1-dark)
    border-radius 2px
    -moz-border-radius 2px
    -webkit-border-radius 2px
    -khtml-border-radius 2px
    border 1px solid #cacaca
    width 231px
    min-height 54px
    padding 13px
    display inline-block
    position relative
    margin 0 0 11px 0
    cursor pointer
    z-index 1
    text-align left
  .no-margin
    margin-right 0
  .highlight-drop-area
    background #FFF
  .highlight-return-area
    background #FFF
    border 1px dashed #dcdcdc
    width 529px
    margin 10px 0 0 -1px
  .member-card.handled
    background #e9e9e9
    border 1px solid #dcdcdc
    text-align left
  .member-card:active
    border 1px solid #cacaca
    -webkit-box-shadow 0px 0px 6px 0px #cacaca
    -moz-box-shadow 0px 0px 6px 0px #cacaca
    box-shadow 0px 0px 6px 0px #cacaca
  .member-list-item
    width 258px
    height 20px
    margin 6px 11px 8px 0
    display inline-block
  .no-margin
    margin-right 0

.organ-members, .proposed-to-be-selected
  .member-card
    margin 11px 0 0 0
    vertical-align top
    cursor default
    min-height 65px
  .arrow, .current-deputy, .current-member
    height 92px
    .placeholder
      h2
        margin-top 38px

.call-for-application, .edit-members, .organ-members.staff-members
  .applicants, .members, .edit-members, .selected
    min-height 100px
    margin 11px 0 0 0
    .member-card
      margin-right 11px
    .no-margin
      margin-right 0
    span.not_eligible
      font-weight bold
      margin-top 4px
      display inline-block
    span.not_eligible:hover
      color #000

.proposed-to-be-selected, .edit-members
  .arrow
    height 82px

.organ
  margin-bottom 30px
  .date
    font-size 14px
    float right
    margin-right 8px

/* MODAL STYLES */
#modal-wrap
  width 100%
  min-height 100%
  height auto
  position fixed
  top 0
  left 0
  background transparent
  display none
  color #333
  z-index 100
.modal
  position relative
  top 94px
  right 60px
  margin 0 auto
  width 558px
  background rgba(46,46,46,0.3)
  padding 10px
  border-radius 10px
  -moz-border-radius 10px
  -webkit-border-radius 10px
  -khtml-border-radius 10px
  .content
    padding 14px 14px 2px 14px
    gradient(color-2-light, color-2-dark)
    .item-block
      margin 14px 0
      .applicant-details
        padding-left 10px
      .label
        display inline-block
        width 160px
        font-weight bold
        vertical-align top
      .text, ul
        display inline-block
        width 370px

/* FORM ELEMENT STYLES */

select
  height 24px
  margin-left 0

input.field
  height 22px

label.field-label
  display block
  font-size 13px
  text-shadow 0 1px 0 #FFF
  margin-bottom 6px

label.inline-label
  margin-right 20px

label.btn.checked
  gradient(color-1-dark, color-1-light)
  color #333

input.wide, textarea.wide
  width 99%

textarea.wide
  height 120px
  resize none

input.half
  width 254px
  margin-bottom 14px
  display block

input.small
  width 40px
  margin 0 8px 14px 0

img.ui-datepicker-trigger
  display inline-block
  width 16px
  height 16px
  background url('../img/calendar-icon.png') no-repeat
  float right
  margin 5px 1px 0 0
  z-index 1000

form.application-workflow
  display block
  position relative
  width 100%
  height 26px
  .selector
    position absolute
    top 8px
    left -2px

#application-sent,
#received-application
  textarea.wide-text
    height 120px
    width  99%
    overflow-y scroll
    display block
    resize none
    background none
    border none
    box-shadow none
    padding 0
    line-height 18px

form.new_application
  textarea.wide
    margin 14px 0 10px 0
select
  border: 1px solid #cacaca
form.new_organ, form.edit_organ
  input.wide
    margin 14px 0 10px 0
  select.organizations
    margin-top 12px
  select#organ_organization_
    margin-top 0

form.send_message
  textarea.wide
    margin 0 0 10px 0

form.organ_search, form.new_call
  input.wide
    margin 0 0 10px 0
  textarea.wide
    margin 0 0 10px 0
  select
    margin 12px 12px 0 0

form.add_applicants
  margin-bottom 14px
form.add_applicants, form.select_recipients, form.add_recipients
  margin-top 10px
  input.wide
    width 491px
    margin 14px 6px 0 0

form.add_recipients
  margin-top 0
  input.wide
    margin-top 0

form.send_application
  input.half
    margin-left 80px
  .item-row
    margin 14px 0 10px 0
    span.buttons
      display inline-block
      padding-left 41px
      margin-bottom 14px
      a.btn, input.btn
        margin-left -1px

form.new_position_application, .member-card, form.edit_call
  .radio
    position absolute
    top -9999px
    left -9999px
  label.btn
    margin-right -1px
  input#position_application_deputy_of
    margin 12px 0 0 41px
  input.wide
    margin-bottom 12px
  .pair-select
    select
      min-width: 120px
#new-alliance
  select
    max-width: 260px
form.new_member
  input.field
    width 492px
    margin 12px 5px 0 0

.inline-block
  display inline-block
  width 260px
  margin 0 10px 14px 0
  vertical-align top
  input
    width 98%
  input.date
    width 235px
.no-margin
  margin-right 0

.item-row
  margin 14px 0 10px 0

/* TOOLTIP STYLES */

.qtip
  font-family basic-fonts
  font-size 13px
  line-height 15px
  -webkit-box-shadow 1px 2px 5px 0 #818181
  -moz-box-shadow 1px 2px 5px 0 #818181
  box-shadow 1px 2px 5px 0 #818181
  margin-top 4px

/* GRITTER OVERRIDES */
#gritter-notice-wrapper
  .gritter-item.gritter-css3
    color:black
    .gritter-title
      text-shadow:none
      font-size: 16px
  .success
    .gritter-item.gritter-css3
      border 1px solid darken(#B4EEB4, 22%)
      gradient(darken(#B4EEB4, 7%), #B4EEB4)
  .error
    .gritter-item.gritter-css3
      border 1px solid darken(#EB9D9E, 15%)
      gradient(#EB9D9E, lighten(#EB9D9E, 7%))

.notice
  .title
    font-size 14px
    margin: 0px 0px 2px 0px
  padding:6 px
  color black
  border-radius 4px
  -moz-border-radius 4px
  -webkit-border-radius 4px
  -khtml-border-radius 4px
.notice.success
  border 1px solid darken(#B4EEB4, 22%)
  gradient(darken(#B4EEB4, 7%), #B4EEB4)
.notice.warning
  border 1px solid darken(#EB9D9E, 15%)
  gradient(#EB9D9E, lighten(#EB9D9E, 7%))
