.member-list-item(class="#{'no-margin' if applicant_counter%2 == 1}")
  p
    span.email = applicant.user.email
    a.show-application.js-modal(href=call_position_application_path(call_id:call._id, id:applicant._id))

